<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{?$article_title?}_无弹窗广告_{?$article_title?}最新章节_燃文5200_{?$jieqi_sitename?}</title>
<meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}" />
<meta name="keywords" content="{?$article_title?},{?$article_title?}最新章节" />
<meta name="description" content="{?$article_title?}最新章节由网友提供，《{?$article_title?}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{?$sortname?}，趣读阁免费提供{?$article_title?}最新清爽干净的图片章节在线阅读。" />
<link rel="stylesheet" type="text/css" href="/neixiong/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/neixiong/css/list.css"/>
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
</head>
<body>
<div id="wrapper">
<div class="ywtop">
	<div class="ywtop_con">
		<div class="ywtop_sethome"><a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{?$jieqi_url?}');" href="#">将{?$jieqi_sitename?}设为首页</a></div>
		<div class="ywtop_addfavorite"><a href="javascript:window.external.addFavorite('{?$jieqi_url?}','{?$article_title?}_书友最值得收藏的网络小说阅读网')">收藏{?$jieqi_sitename?}</a></div>
		<script language="javascript" src="/scripts/denglu.js"></script>
	</div>
</div>
 
<div class="header">
<div class="header_logo"><a href="{?$jieqi_url?}">{?$jieqi_sitename?}</a></div>
<div class="header_search"><form method="get" action="{?$jieqi_modules['article']['url']?}/search.php" target="_blank">
<input type="text" name="searchkey" class="search"  id="search_keyword"  /> <button type="submit">搜 小 说</button></form></div>
<div class="userpanel"></div>
</div>
<div class="nav">
<ul>
<li><a href="{?$jieqi_url?}/">首　页</a></li>
<li><a href="/sort/1/1.html">玄幻魔法</a></li>
<li><a href="/sort/2/1.html">武侠仙侠</a></li>  
<li><a href="/sort/3/1.html">都市言情</a></li>
<li><a href="/sort/4/1.html">历史军事</a></li>
<li><a href="/sort/5/1.html">侦探推理</a></li>
<li><a href="/sort/6/1.html">网游动漫</a></li>
<li><a href="/sort/7/1.html">科幻小说</a></li>
<li><a href="/sort/8/1.html">恐怖灵异</a></li>
<li><a href="/sort/9/1.html">同人小说</a></li>
</ul>
</div>
    
<div class="box_con">
<div class="con_top">
<div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-7.jpg" /><a class="shareCount"></a></div>
当前位置：<a href="/">{?$jieqi_sitename?}</a> &gt; <a href="/mulu/{?$sortid?}.html">{?$sortname?}</a> &gt; {?$article_title?}最新章节列表
</div>
  
<div id="sidebar">
<div class="sidebartitle">{?$article_title?}的书迷同时还在看：</div>
<div class="sidebarlist">
<script language="javascript" type="text/javascript" src="{?$jieqi_url?}/blockshow.php?bid=sidelist&module=article&filename=block_articlelist&classname=BlockArticleArticlelist&vars=allvisit%2C14%2C0%2C0%2C0%2C0&template=shuyepaihang.html&contenttype=4&custom=0&publish=3&hasvars=1"></script>
</div>
<div class="xian"></div>
<div class="sidebartitle">编辑推荐给您好看的小说：</div>
<div class="sidebarlist">
<script language="javascript" type="text/javascript" src="{?$jieqi_url?}/blockshow.php?bid=127&module=article&filename=block_articlelist&classname=BlockArticleArticlelist&vars=monthvisit%2C14%2C0%2C0%2C0%2C0&template=shuyepaihang.html&contenttype=4&custom=0&publish=3&hasvars=1"></script>
</div>
</div>
<div id="maininfo">
<div id="fmimg"><img alt="{?$article_title?}" src="{?$jieqi_url?}/files/article/image{?$articlesubdir?}/{?$articleid?}/{?$articleid?}s.jpg" width="120px" height="150px" /></div>
<div id="info">
<h1>{?$article_title?}</h1>
<p>作&nbsp;&nbsp;&nbsp;&nbsp;者：{?$author?}</p>
<p>类&nbsp;&nbsp;&nbsp;&nbsp;别：{?$sortname?}</p>
<p>动&nbsp;&nbsp;&nbsp;&nbsp;作：<a href="/modules/article/addbookcase.php?bid={?$articleid?}" target="_blank">加入书架</a>, <a href="/modules/article/uservote.php?id={?$articleid?}" target="_blank">投推荐票</a>, <a href="#footer">直达底部</a></p>
<p>下&nbsp;&nbsp;&nbsp;&nbsp;载：<a href="/modules/article/txtarticle.php?id={?$articleid?}" target="_blank">点击下载{?$article_title?}txt全集</a></p>
<p>最&nbsp;&nbsp;&nbsp;&nbsp;新：<a href="/read/{?$articleid?}/{?$lastchapterid?}.html">{?$lastchapter?}</a></p>
</div>
<div id="intro">
<p><font size="3">小说{?$article_title?}的简介：</font></p>
<p>{?$intro?}</p>
<p>&nbsp;&nbsp;&nbsp; 各位书友要是觉得《{?$article_title?}》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</p>
</div>
</div>
</div>
<div class="box_con">
<div id="list">
<dl>
			{?section name=i loop=$indexrows?}
			{?if $indexrows[i].ctype == "volume"?}
<dt>{?if $indexrows[i].vname == ""?}正文{?else?}{?$indexrows[i].vname?}{?/if?}</dt>
{?else?}
<dd>{?if $indexrows[i].cname1 == ""?}{?else?}<a href="/read/{?$articleid?}/{?$indexrows[i].cid1?}.html" title="{?$indexrows[i].cname1?}">{?$indexrows[i].cname1?}</a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname2 == ""?}{?else?}<a href="/read/{?$articleid?}/{?$indexrows[i].cid2?}.html" title="{?$indexrows[i].cname2?}">{?$indexrows[i].cname2?}</a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname3 == ""?}{?else?}<a href="/read/{?$articleid?}/{?$indexrows[i].cid3?}.html" title="{?$indexrows[i].cname3?}">{?$indexrows[i].cname3?}</a>{?/if?}</dd>
<dd>{?if $indexrows[i].cname4 == ""?}{?else?}<a href="/read/{?$articleid?}/{?$indexrows[i].cid4?}.html" title="{?$indexrows[i].cname4?}">{?$indexrows[i].cname4?}</a>{?/if?}</dd>
{?/if?}
{?/section?}


</dl>
</div></div>
<div id="footer" name="footer">
<div class="footer_link">
 
</div>
<div class="footer_cont">
<p>《{?$article_title?}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{?$sortname?},趣读阁提供{?$article_title?}最新章节列表目录在线阅读。</p>
<p>{?$article_title?}最新章节内容由网友收集并提供，转载至趣读阁只是为了宣传《{?$article_title?}》让更多书友知晓。</p>
<p>Copyright &copy; 2012 趣读阁 All Rights Reserved.</p>
<p><script type="text/javascript" src="/neixiong/js/tongji.js"></script></p>
</div>
</div>
</div>
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=8&amp;uid=516348&amp;pos=left" ></script>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=516348" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript"> 
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
</body>
<script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
</html>
