<div class="top">
<div class="image"><a href="/read/{?$articlerows.0.articleid?}.html" target="_blank"><img src="{?$articlerows.0.url_image?}" alt="{?$articlerows.0.articlename?}" /></a></div>
<dl><dt><a href="/read/{?$articlerows.0.articleid?}.html">{?$articlerows.0.articlename?}</a> / Öø£º{?$articlerows.0.author?}</dt>
<dd>{?$articlerows.0.intro|truncate:280?}</dd>
</dl>
<div class="clear"></div>
</div>

<ul>
<li><a href="/read/{?$articlerows.1.articleid?}.html">{?$articlerows.1.articlename?}</a>/Öø£º{?$articlerows.1.author?}</li>
<li><a href="/read/{?$articlerows.2.articleid?}.html">{?$articlerows.2.articlename?}</a>/Öø£º{?$articlerows.2.author?}</li>
<li><a href="/read/{?$articlerows.3.articleid?}.html">{?$articlerows.3.articlename?}</a>/Öø£º{?$articlerows.3.author?}</li>
<li><a href="/read/{?$articlerows.4.articleid?}.html">{?$articlerows.4.articlename?}</a>/Öø£º{?$articlerows.4.author?}</li>
<li><a href="/read/{?$articlerows.5.articleid?}.html">{?$articlerows.5.articlename?}</a>/Öø£º{?$articlerows.5.author?}</li>
<li><a href="/read/{?$articlerows.6.articleid?}.html">{?$articlerows.6.articlename?}</a>/Öø£º{?$articlerows.6.author?}</li>
<li><a href="/read/{?$articlerows.7.articleid?}.html">{?$articlerows.7.articlename?}</a>/Öø£º{?$articlerows.7.author?}</li>
<li><a href="/read/{?$articlerows.8.articleid?}.html">{?$articlerows.8.articlename?}</a>/Öø£º{?$articlerows.8.author?}</li>
<li><a href="/read/{?$articlerows.9.articleid?}.html">{?$articlerows.9.articlename?}</a>/Öø£º{?$articlerows.9.author?}</li>
<li><a href="/read/{?$articlerows.10.articleid?}.html">{?$articlerows.10.articlename?}</a>/Öø£º{?$articlerows.10.author?}</li>
<li><a href="/read/{?$articlerows.11.articleid?}.html">{?$articlerows.11.articlename?}</a>/Öø£º{?$articlerows.11.author?}</li>
<li><a href="/read/{?$articlerows.12.articleid?}.html">{?$articlerows.12.articlename?}</a>/Öø£º{?$articlerows.12.author?}</li>
</ul>