/* basic */
*{
	margin: 0px;
	padding: 0px;
}


a{
	color: #2f468f;
	text-decoration: none;
	background-color: transparent;
}

a:hover{
	color: #ff6600;
}

span{
	line-height: 120%;
}

p{
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6{
	font-size: 16px;
	line-height: 150%;
}
.font14{ font-size:14px;}
img{
	border: 0px;
}

div{
	text-align: left;
}

hr{
	height: 1px;
	border: 1px solid #a3bee8;
	clear: both;
	margin: 5px 0px;
}

ul{
	list-style: none;
	clear: both;
	text-align: left;
}

li{
	line-height: 150%;
}

/* table */
table{
	text-align: left; 
	font: 12px/120% ו,Verdana,Arial,sans-serif;
}

table td{
}

table.fix{
	table-layout: fixed;
}

table.fix td{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

table.grid{
	border-collapse: collapse;
	border: 1px solid #a3bee8;
	padding: 3px;
	margin: auto;
}

table.grid caption, .gridtop{
	border: 1px solid #a3bee8;
	background: #e9f1f8;
	vertical-align: middle; 
	text-align: center;
	padding: 3px;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
}

table.grid th, .head{
	border: 1px solid #a3bee8;
	background: #f0f7ff;
	color:#054e86;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 3px;
}

table.grid td{
	border: 1px solid #a3bee8;
	padding: 3px;
	background-color: #ffffff !important; 
}

table.hide, table.hide th, table.hide td{
	border: 0;
}

/* table add-ons */

.title{
	background: #e9f1f8;
	text-align: center;
	padding: 3px;
	color:#054e86;
	font-weight: bold;
	font-size: 14px;
}

.even{
	background: #ffffff; 
	padding: 3px;
}

.odd{
	background: #ffffff; 
	padding: 3px;
}

.foot{
	background: #f0f7ff; 
	padding: 3px; 
	text-align: center;
}

.bottom{
	height: 9px;
	background: #b7b785; 
}


/* form */

form{}

input{}

.text{
	border: 1px solid #a3bee8; 
	background: #ffffff;
	color: #054e86;
	height: 20px;
}

.textarea{
	border: 1px solid #a3bee8; 
	background: #ffffff;
	color: #054e86; 
}

.button{
		background: #ddf2ff;
		border: 1px solid #a3bee8; 
		height: 20px;
		padding: 2px 0px 0px 0px;
}

.checkbox, .radio{border-width: 0px;}

.select{height: 21px;}

/* structure */

#wrapper{}

#left{
	float: left;
	width: 185px;
	margin-right:6px;
}

#right{
	float: right;
	width: 185px;
}

#centers{
	float: left;
	width: 578px;
}

#centerm{
	float: left;
	width: 768px;
}

#centerl{
	float: left;
	width: 960px;
}

#cleft{
	float: left;
	width: 475px;
}

#cright{
	float: right;
	width: 475px;
}

#content{

}

.main{
	width: 960px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.m_top{
	background: #f6f6f6;
	border-top: 3px solid #a9c9e2;
	border-bottom: 1px solid #e4e4e4;
	padding: 5px 0px;
	margin-bottom: 3px;
	height: 15px;
}

.m_head{
	height: 60px;
	margin-bottom: 3px;
}

.h_logo{
	float:left;
	width:180px;
}

.h_banner{
	float:left;
}

.h_link{
	float:right;
	width:90px;
	padding-top:6px;
}

.m_menu{
	background:#55a0ff;
	height:22px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	padding-top:3px;
	margin-bottom:3px;
}

.m_foot{
	background:#f6f6f6;
	border:1px solid #e4e4e4;
	text-align:center;
	padding: 5px 0px;
	margin-top:3px;
	margin-bottom:10px;
}

.block{
	border: 1px solid #a3bee8;
	margin-bottom: 5px;
}

.blocktitle{
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #a3bee8;
	font-weight: bold;
	font-size: 14px;
	background: #e9f1f8;
	color: #054e86; 
	height: 26px; 
	line-height: 26px; 
	padding-left: 10px;
}

.blockcontent{
	padding: 3px;
}

.blocknote{
	border-top: 1px solid #a3bee8;
	padding: 3px;
	text-align: center;
	background: #f0f7ff;
	line-height: 150%;
}

.blocktitle span{
	position: relative;
	bottom: -5px;
	border-top: 1px solid #a3bee8;
	border-left: 1px solid #a3bee8;
	border-right: 1px solid #a3bee8;
	background: #ffffff;
	padding: 3px 6px 3px 6px;
	color: #c42205;
	height: 22px;
	line-height: 22px; 
}

#left .block{
	background: #e9f1f8;
	padding: 2px;
}

#left .blocktitle{
	border: 0px;
	padding: 0px;
	line-height: 24px; 
	text-align: center;
}

#left .blockcontent{
	border: 1px solid #d8e4ef;
	background: #ffffff;
}

/* custom */

.ultop li{list-style: decimal inside; margin: 3px 4px; border-bottom: 1px solid #d8e4ef; color: #1b74bc;}
.ultop li a{color: #c42205;}
.ulitem li{list-style: none;line-height:19px;}
.ulrow li{padding:2px;}
.ulcenter li{text-align: center;}
.ulmul{overflow: hidden;}
.ulmul li{ line-height:21px;}

.fix, .lm{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both; font-size:0px; height:0px;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.more{text-align: right;}

.c_navigation{}
.c_title{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 200%;
}
.c_head{
	line-height: 150%;
}
.c_content{
	font-size: 14px;
	line-height: 150%;
}
.c_foot{
	line-height: 150%; list-style:none
}
.c_label{
	font-weight: bold;
}
.c_value{
}

.c_row{}
.c_subject{}
.c_tag{}
.c_description{}
.c_note{}


/* attention */

.hottext, a.hottext{color: #ff0000;}
.poptext, a.poptext{color: #c42205;}
.notetext, a.notetext{color: #1979cc;}
.errortext, a.errortext{color: #ff0000;}

a.btnlink, a.btnlink:visited{color: #000000; background: #ddf2ff; border:1px solid #a3bee8; height:20px; padding: 2px 10px 0px 10px;}
a.btnlink:hover{background: #cccccc;}


/* interface */

.jieqiQuote, .jieqiCode, .jieqiNote{
	border: #000000 1px solid; 
	padding: 2px; 
	font-size: 12px; 
	color: #000000; 
	background-color: #a3bee8;
}

.divbox{
	border: 1px solid #a3bee8;
	margin-bottom: 3px;
	text-align: center;
}

.textbox{
	border: 1px solid #a3bee8;
	padding: 5px;
	margin: 3px;
	line-height: 150%;
}

.popbox{
	position:absolute;
	width:190px !important;
	height:110px !important;
	width:200px;
	height:120px;
	border: 1px solid #a3bee8;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	display:none;
	z-index:9999;
}

.ajaxtip{
	position:absolute;
	border: 1px solid #a3bee8;
	background: #f0f7ff;
	color: #ff0000;
	font-size: 12px;
	line-height:120%;
	padding: 3px;
	z-index:1000;
}

#tips {
	border: 1px solid #a3bee8;
	padding: 3px;
	display: none;
	background: #f0f7ff;
	position: absolute;
	z-index: 2000;
}

#dialog{
	position:absolute;
	top:0px;
	left:0px;
	border: 5px solid #8bcee4;
	background: #f1f5fa;
	font-size: 12px;
	line-height:120%;
	padding: 20px 10px 10px 10px;
	visibility: hidden;
}

#mask{
	position:absolute;
	top:0px;
	left:0px;
	background: #777777;
	filter: Alpha(opacity=30);
	opacity: 0.3;
}

.tablist ul{height:25px; margin:0px 0px 0px 10px; padding:0px;}
.tablist li{float:left; height:24px; list-style:none; margin-right:3px;}
.tablist li a{float:left; height:24px; line-height:24px; padding:0px 10px; display:block; background:#f0f7ff; text-decoration:none; color:#000000; border:1px solid #a3bee8; border-bottom:none; }
.tablist li a.selected{ background:#ffffff; height:25px; position:relative; margin-bottom:-1px;}
.tabcontent{clear:both; border:1px solid #a3bee8; padding:10px;}

.pages{
	padding: 5px 0px;
}
.pagelink{
	border: 1px solid #a3bee8;
	float: right;
	background: #f0f7ff;
	line-height:24px;
	padding:0;
}
.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{
	float: left;
	padding: 0 6px;
}
.pagelink a:hover{background-color: #ffffff; }
.pagelink strong{font-weight: bold; color: #ff6600; background: #e9f1f8;}
.pagelink kbd{height:24px; border-left: 1px solid #a3bee8;}
.pagelink em{height:24px; border-right: 1px solid #a3bee8; font-style:normal;}
.pagelink input{border: 1px solid #a3bee8; color: #054e86; margin-top:1px; height: 18px;}

img.avatar{border: 0px;}
img.avatars{width: 48px; height: 48px; background:url("images/avatars_bg.gif") right bottom; padding:3px 7px 7px 3px; cursor:pointer;}
img.avatari{width: 16px; height: 16px; border: 1px solid #cccccc;margin-bottom:-3px;}
/* menu */

#jieqi_menu{
	line-height: 20px;
	list-style-type: none;
}
#jieqi_menu a{
	display: block;
	width: 60px;
	text-align: center;
}
#jieqi_menu a:link{
	color: #ffffff;
	text-decoration: none;
}
#jieqi_menu a:visited{
	color: #ffffff;
	text-decoration: none;
}
#jieqi_menu a:hover{
	color: #ff6600;
	text-decoration: none;
}
#jieqi_menu li{
	float: left;
	width: 60px;
}
#jieqi_menu li a:hover{
	background: #ffffff;
}
#jieqi_menu li ul{
	line-height: 20px;
	list-style: none;
	text-align: left;
	display: none;
	width: 90px;
	position: absolute;
	border: 1px solid #a3bee8;
	z-index:9999;
}
#jieqi_menu li ul li{
	float: left;
	width: 90px;
	background: #e9f1f8;
}
#jieqi_menu li ul a{
	display: block;
	width: 80px !important;
	width: 90px;
	text-align:left;
	padding-left:10px;
}
#jieqi_menu li ul a:link{
	color:#2f468f;
	text-decoration:none;
}
#jieqi_menu li ul a:visited{
	color:#2f468f;
	text-decoration:none;
}
#jieqi_menu li ul a:hover{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:normal;
	background:#1979CC;
}
#jieqi_menu li:hover ul{
	display: block;
}
#jieqi_menu li.sfhover ul{
	display: block;
}
#jieqi_menu li.nohover ul{
	display: hide;
}

a.message{background:url("images/aicons.gif") 0px 0px no-repeat; padding-left:16px;}
a.parlor{background:url("images/aicons.gif") 0px -16px no-repeat; padding-left:16px;}
a.friend{background:url("images/aicons.gif") 0px -34px no-repeat; padding-left:16px;}
a.bookcase{background:url("images/aicons.gif") 0px -54px no-repeat; padding-left:16px;}
a.group{background:url("images/aicons.gif") 0px -73px no-repeat; padding-left:16px;}
a.space{background:url("images/aicons.gif") 0px -94px no-repeat; padding-left:16px;}
a.userinfo{background:url("images/aicons.gif") 0px -113px no-repeat; padding-left:16px;}
a.logout{background:url("images/aicons.gif") 0px -133px no-repeat; padding-left:16px;}

*{ padding:0px; margin: auto; list-style-type:none; font-size:12px; font-family:ו; text-decoration:none; }
img{ border:0px;}
.none{ display:none;}
.clear{ clear:both;}
a:hover{ color:Red; text-decoration:underline;}
#main{ width:980px; margin:auto;}
#admin{ border:solid 2px #E1ECED; height:30px; line-height:30px; width:88%; text-align:center; margin:5px; padding:3px;}
table.grid caption, .gridtop {
    background-color:#E1ECED;
    border:solid 2px #C3DFEA;
	border-bottom:0px;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}
table.grid {
    border: 2px solid #C3DFEA;
    border-collapse: collapse;
    margin: auto;
    padding: 3px;
}
table.grid td {
    background-color: #FFFFFF !important;
    border: 1px solid #C3DFEA;
    padding: 4px;
}
.hottext{color:red;}
#hotcontent{ padding-top:10px; }
#hotcontent .l{ border:3px solid #C3DFEA; padding:0px 0px 10px 0px; float:left; width:695px; height:330px; overflow:hidden; background:#FEF9EF;}
#hotcontent .l .item{ width:335px; float:left; padding:10px 0px 0px 10px;}
#hotcontent .l .item .image{ float:left; width:120px;}
#hotcontent .l .item .image img{ border:solid 1px #DDDDDD; padding:1px; background-color:White;}
#hotcontent .l .item dl{ padding:0px 5px 0px 0px; float:right; width:190px;}
#hotcontent .l .item dl dt{ height:25px; line-height:25px; overflow:hidden; font-size:14px; border-bottom:dotted 1px #A6D3E8; font-weight:bold; }
#hotcontent .l .item dl dt span{ float:right; font-weight:normal; color:#B3B3B3;}
#hotcontent .l .item dl dd{ padding:7px 0px 0px 0px; line-height:20px; text-indent:2em; height:120px; overflow:hidden;}
#hotcontent .r{ float:right; width:265px;border:3px solid #C3DFEA;}
#hotcontent h2{ padding:0px 0px 0px 10px; background-color:#E1ECED; height:30px; line-height:30px; font-size:14px; font-weight:bold; overflow:hidden; border-bottom:solid 1px #DDDDDD; margin: 0;}
#flash {  height:308px; overflow: hidden;}

.novelslist{ margin: 10px auto; border:3px solid #A6D3E8; width:968px;  padding:3px; background:#FEF9EF;}
.novelslist .content{ border-right:dotted 1px #A6D3E8; padding:0px 3px; float:left; width:315px;}
.novelslist .content h2{ border-bottom:solid 1px #A6D3E8; font-size:14px; font-weight:bold; padding-left:5px; line-height:25px; height:25px; overflow:hidden; margin: 0;}
.novelslist .content .image{ padding:10px 0px 0px 5px; float:left; width:71px;}
.novelslist .content .image img{ width:67px; height:82px; border:solid 1px #DDDDDD; padding:1px; background-color:white;}
.novelslist .content dl{ padding:10px 0px 0px 0px; float:right; width:219px;}
.novelslist .content dl dt{ height:25px; line-height:25px; overflow:hidden; font-weight:bold;}
.novelslist .content dl dd{ line-height:20px; height:60px; overflow:hidden;}
.novelslist .content ul{ padding:10px 0px 0px 0px;}
.novelslist .content ul li{ color:#B3B3B3; height:20px; line-height:20px; font-size:12px; overflow:hidden; float:left; width:155px;}
.novelslist .content ul li a{ font-size:13px;}
.novelslist .border{ border:0px;}

#newscontent{ margin: auto;}
#newscontent .l{ border:3px solid #88C6E5; float:left; width:695px;background:#E1ECED;}
#newscontent .l ul{ padding:10px;}
#newscontent .l li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
#newscontent .l li span{ float:left; display:inline-block;}
#newscontent .l li .s1{ width:75px;}
#newscontent .l li .s2{ width:165px;}
#newscontent .l li .s3{ width:200px;}
#newscontent .l li .s4{ color:#B3B3B3; width:90px;text-align:right;}
#newscontent .l li .s5{ color:#B3B3B3; float:right; text-align:right;}
#newscontent .l li a{ color:#6F78A7;}
#newscontent .r{ float:right; width:265px;border:3px solid #88C6E5; background:#E1ECED;}
#newscontent .r ul{ padding:10px;}
#newscontent .r li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
#newscontent .r li span{ float:left; display:inline-block;}
#newscontent .r li .s1{ width:40px;}
#newscontent .r li .s2{ color:#B3B3B3;}
#newscontent .r li .s3{ width:30px;}
#newscontent .r li .s4{ width:50px; color:#B3B3B3;}
#newscontent .r li .s5{ float:right; text-align:right;}
#newscontent .r li a{ color:#6F78A7;}
#newscontent h2{ margin:0px; overflow:hidden; padding:0px 0px 0px 10px; background-color:#A6D3E8; height:30px; line-height:30px; font-size:14px; font-weight:bold; border-bottom:solid 1px #DDDDDD;}

#firendlink{ width:949px; padding:9px 0px 9px 9px; margin:10px auto 10px auto; border:solid 1px #DDDDDD; line-height:22px;}
#firendlink a{ margin:0px 9px 0px 0px; display:inline-block; color:#548161;}